<div class="container">


    <div class="row">


        <div id="apiCard" class="section">
            <div class="col s12 m4" id="add-new-list-form">
                <h5>My Lists</h5>
                <div class="row">
                    <ul class="collection">
                        {{#each userList}}
                        <li class="collection-item">{{list_title}}<a class="btn-flat display-change right"
                                data-id={{id}} data-display={{display}}>Show/Hide List</a><a
                                class="btn-flat add-to-list right" type="submit" name="action"
                                data-id={{id}}>
                                Add to list!
                            </a></li>
                        {{/each}}
                    </ul>
                </div>
                <div class="row">
                    <form action="">
                        <div class="input-field col s12">
                            <input type="text" id="add-new-list-name" required>
                            <label for="add-new-list black">Start a new list:</label>
                            <button class="waves-effect waves-blue btn indigo" type="submit" name="action">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s12 m7 offset-m1" id="searchdisplay">
                <form id="movie_search">
                    <div class="row">
                        <div class="input-field">
                            <input id="movie_search_title" placeholder="Enter a Movie Title:" type="text" required>
                            <button class="btn waves-effect waves-light btn-large indigo" type="submit" name="action">
                                Search!
                            </button>

                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="card col" id="apiresults">
                        <div class="card-content" id="formovies">
                            <span class="card-title" id="results-title">
                            </span>
                            <div class="col s12 l6" id="movies-view">
                                <ul class="collection" id="search-results">

                                </ul>

                            </div>
                            <div class="col s12 l6 center" id="movies-poster">

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- This, along with everything else, needs tweaking. it'll work for now though. -->
    <div class="row">



        {{#each userList}}
        <div class="section col s10 offset-s1" id="movie-lists">

            {{#if display}}
            <ul class="collection with-header col s12">
                <li class="collection-header">
                    <h4>
                        {{list_title}}</h4><a class="waves-effect waves-indigo btn-flat update-list-name" data-list={{id}}>edit</a>
                    <form action="post" class="edit-list-new" id="edit-list-input-{{id}}" data-number={{id}}>
                        <div class="input-field">
                            <input placeholder="Enter New List Name" class="newName" id="newListName-{{id}}" type="text" >
                        </div>
                        <button class="waves-effect waves-teal btn-flat" type="submit" >Submit</button>
                    </form>
                </li>

                {{#each Movies}}

                <li class="collection-item">{{movie_name}}<a class="waves-effect waves-orange btn-flat delete-movie"
                        data-movie={{id}}>Delete</a></li>


                {{/each}}
                <li class="collection-item"></li>
            </ul>

            {{/if}}


        </div>
        {{/each}}
    </div>

</div>